*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  padding: 20px;
}
.content{
  width: 100%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
header{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.tab{
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
  padding: 8.8px 15px;
  border-radius: 15px;
  border: 1px solid #007bff;
}
.tab:hover {
  background-color: #007bff;
  color: #fff;
}
.add{
  padding: 12.3px 15px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom:20px ;
}
.add:hover {
  background-color: #218838;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}
table th,
table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}
table th {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #f9f9f9;
}
table tr:hover {
  background-color: #f1f1f1;
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
span{
  background-color: aquamarine;
}